# Maven
target/
!src/main/**/target/

# Gradle
.gradle/
build/

# STS
.apt_generated/
.classpath
.factorypath
.project
.settings/

# IntelliJ
.idea/
*.iml
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env Files
*.env

# Node modules (if exists)
node_modules/

# Docker
*.pid
